<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<!--Contact-->
<div class="container-fluid bg-3 text-center">
        <h3 class="margin">Contact Me</h3><br>
        <div class="row">
</div>
    <div class="col-sm-4">
      <img src="https://i.pinimg.com/originals/8c/03/0b/8c030bd6bd7ee87ad41485e3c7598dd4.png" class="img-responsive img-circle margin" style="display:inline" alt="Google" width="150" height="150">
      <p>Email: anko.nokeo@gmail.com</p>
</div>
    <div class="col-sm-4">
      <a href="https://github.com/annokeo"><img src="https://cdn2.iconfinder.com/data/icons/social-icons-circular-color/512/github-512.png" class="img-responsive img-circle margin" style="display:inline" alt="GitHub" width="150" height="150"></a>
      <p>GitHub</p>
</div>
    <div class="col-sm-4">
      <a href="https://www.linkedin.com/in/anthony-nokeo-2155a9193/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" class="img-responsive img-circle margin" style="display:inline" alt="LinkedIn" width="150" height="150"></a>
      <p>LinkedIn</p>
  </div>
